* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /**variaveis*/
    --ff: 'Cormorant Garamond', serif;
    ;
    --ff1: 'Outfit', sans-serif;
}


/* Define o tamanho de fonte base para rem, utilizando 62.5% da escala (10px) */
:root {
    font-size: 62, 5%;
}


/*GERAL - PRIMEIRA PÁGINA*/

/* define a classe .page como um contêiner flexível com direção de coluna */
.page {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
}


body {
    background-color: #1B3148;
    margin: 0 auto;
}


/*página home*/
#home {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    height: 120%;

}

/*cabeçalho da página - logo de alexandre dentro dele*/
header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;

}

/*acoplado as duas imagens do logo Alexandre - AS e nome por extenso*/

.logo-header {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}


/*Imagem logo AS do cabeçalho*/
header img {
    display: flex;
    margin: auto;
    justify-items: center;
    align-items: center;
    width: 15rem;

}


/*cabeçalho do home - (menu bar, linhas */
.home-header {
    margin-top: 3rem;
    background-image: url(assets/banner.png);
    background-repeat: initial;
    background-position: center center;
    width: 100%;
}


/*linha divisória em cima e embaixo no menuBar*/
.linha {
    margin: auto;
    align-items: center;
    border: .1px solid #4E555F;
    width: 100%;
}

.menuBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin: auto;
    width: 90%;
}

.menu {
    display: flex;
    margin-top: .5rem;
}

.menuBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.menuBar li {
    margin: 0 10px;
}

.menuBar li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}



/*botoes para contato e email*/
.button-header {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    height: 5rem;

}

/*botao de contato*/
.contact-button {
    margin-right: 1rem;
}

/*imagem botão de contato*/
.contact-button img {
    display: flex;
    max-width: 9rem;
}

.contact-button img:hover{
    transform: scale(1.1);
}

/*imagem botao de email*/
.email-button img {
    display: flex;
    width: 15rem;
}

.email-button img:hover{
    transform: scale(1.1);
}
.banner {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    height: 40rem;
    width: 100%;
    align-items: center;
    text-align: center;

}



.banner .banner-texto img {

    display: flex;
    width: 5rem;
    margin-left: 2rem;
}

.banner .banner-texto {
    display: flex;
    flex-direction: column;
    margin-top: -8rem;
    margin-left: 3rem;

}

/*titulo principal do banner*/
.banner .banner-texto h1 {

    margin-left: -2rem;
    width: 22rem;
    align-items: center;
    font-size: 35px;
    color: #ffffff;
    font-family: var(--ff);
    font-weight: bold;
    text-align: start;
}

.banner .banner-texto h5 {
    margin-top: 3rem;
    width: 23rem;
    font-size: 24px;
    color: #ffffff;
    font-family: var(--ff1);
    text-align: start;
    margin-left: -2rem;
    margin-bottom: 1rem;
    background-color: #1B3148;

}


.banner .banner-texto h5 span{
    font-weight: bold;
    font-size: 28px;
    
    

}

.banner .banner-texto h1 span{
    font-weight: bold;
    font-size: 44px;
    color: #ccaa60;
}
#button-whatsapp {
    display: flex;
    flex-direction: row;
    margin-top: 45rem;
    height: 5rem;
    width: 12em;
    background-color: #D1B06B;
    border-radius: 10%;
    cursor: pointer;
    position: fixed;
    z-index: 10000;
   
    animation: piscar 1s infinite;
 
}
@keyframes piscar {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  

#button-whatsapp img {
    display: flex;
    width: 2rem;
    justify-content: center;
    margin: auto;
}

#button-whatsapp a {
    width: 5rem;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin: auto;
    font-family: var(--ff);
    font-size: 15px;
    color: black;
    margin-left: -1.5rem;

}

#button-whatsapp:hover {
    background-color: #e0c791;
    color: white;
}


.banner img:nth-child(2) {
    display: none;
    height: 70%;
    width: auto;
    margin-left: -20rem;
    margin: auto;
}



/*SEGUNDA PÁGINA*/


#consultaProcessual {
    height: 12rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(209, 176, 107, 1) 2%, rgba(30, 42, 58, 1)70%);
}

#consultaProcessual .botoesConsulta{
    display: flex;
 flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 10rem;
    margin: 0 auto;
    
}


#consultaProcessual .btcons1{
    display: flex;
    margin-bottom: 1rem;
    padding-left: 1rem;

}
#consultaProcessual .btcons2{
    display: flex;
    padding-left: 1rem;

}

#consultaProcessual h1 {
    color: white;
    font-family: var(--ff);
    font-size: 17px;
    margin-bottom: 1.2rem;
    text-align: center;
}


/*botoes para consulta e-SAJ e Consulta Publica*/
.botaoConsulta {

    min-width: 12rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 5px;
    color: white;
    background: #1F2732;
    cursor: pointer;
}

.botaoConsulta:hover {
    background: #D1B06B;
}


/*terceira página*/

#areas {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   width: 100%;
    height: 100%;
    background: rgb(30, 42, 58);

}

.areas-atuação {
    display: flex;
    flex-direction: column;
}

.caixa {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: auto;
    padding: 58px, 49px, 58px, 50px;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #2E3947;
    align-items: center;
}

.caixa:hover {
    transform: scale(1.1);
}

.caixa h1 {
    color: white;

    font-family: var(--ff);
    font-weight: regular;
}


.caixa h5 {
    color: white;
    margin-top: 10px;
    padding: 20px;
    font-family: var(--ff);
    font-weight: regular;
    font-size: 14px;
    text-align: justify;

}


.contents {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    /* Duas colunas com tamanhos iguais */
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


.titulo-atuacao {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 8rem;



}

.divisor-atuacao img {
    display: none;
}



.titulo-atuacao1 img {
    display: flex;
    width: 3rem;
    height: 50px;
    margin-left: 20rem;
    margin-top: -1rem;
}

.titulo-atuacao1 {

    margin-right: 20rem;
}

.titulo-atuacao1 h1 {
    display: flex;
    font-family: var(--ff);
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    margin: auto;
    margin-left: 20rem;
    width: 300px;
    color: white;

}

.titulo-atuacao2 h2 {
    margin-top: -3rem;
    font-family: var(--ff);
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 5px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-align: justify;
    width: 20rem;

}

.titulo-atuacao2 h2 span {
    color: #D1B06B;
}

.divisor-atuacao {
    display: flex;
    margin-left: -11rem;
    margin-right: rem;
    align-items: center;
}


.titulo-caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo-caixa img {
    display: flex;
    margin-left: 10px;

    height: 30px;
    width: 30px;
    margin-top: 20px;

}

.contents {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.linha1 {
    margin-top: 10px;
    border: .1px solid #4E555F;
    width: 18rem;
}

/*QUARTA PÁGINA*/


#sobre {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
}

/*imagens do carossel - página #sobre*/
.slides img {
    margin: auto;
    display: flex;
    border-radius: 1rem;
    width: 100%;
    align-items: center;
    height: 50%;


}

/*carrossel imagem página #sobre*/
.slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 3rem;

}

/*container da pagina #sobre*/
.pagesobre {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    align-items: center;
    width: 100%;
}



/*primeira parte da página sobre : imagens do carrossel */
.sobre-parte1 {
    display: flex;
    width: 100%;
    align-items: center;

}

/*parte dois da pagina #sobre, titulo, subtitulo, rodapé */
.sobre-parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
    width: 100%;

}

/*titulo da página sobre "nosso escritorio" */
.sobre-parte2 h1 {
    display: flex;
    font-family: var(--ff1);
    color: #ffffff;
    padding-top: -2rem;
    margin-top: 2rem;
    font-size: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

/*texto página #sobre*/

.sobre-parte2 h5 {
    display: flex;
    font-family: var(--ff1);
    color: #ffffff;
    max-width: 26rem;
    padding-top: -2rem;
    font-size: 20px;
    align-items: center;
    text-align: justify;

}

/*container - imagem do rodapé*/
.sobre-parte2 img {
    display: flex;
    width: 3rem;
    margin-left: -15rem;
}

/*container da imagem de alexandre #sobre*/
#alexandre-circulo {
    display: flex;
    margin: auto;
}

#alexandre-circulo h3 {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: var(--ff1);
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    width: 10rem;

}

/*alexandre foto em circulo na página #sobre*/
#alexandre-circulo img {
    display: flex;
    width: 4rem;
    margin: auto;
    justify-content: center;
    align-items: center;


}

/*anos de experiencia img - pagina #sobre*/
#anos-exp img {
    display: flex;
    width: 6rem;
    margin: auto;
    justify-content: center;
    align-items: center
}

/*rodapé da página #sobre*/
.rodape-sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;

}


/*QUINTA PÁGINA*/


#contato {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    background-image: url('assets/escritorio.png');
    background-repeat: no-repeat;
    background-position: 35%;
    background-size: cover;
    /* Ajusta o tamanho da imagem para cobrir toda a área */
    height: 100vh;
    position: relative;
    width: 100%;
}


/* Formulário */
.formulario {
    background-color: rgba(31, 39, 50, 0.8);
    /* rgba para dar um efeito de transparência */
    width: 90%;
    padding: 20px;
    /* Adiciona um espaço interno ao formulário */
    max-width: 500px;
    /* Largura máxima do formulário */
    color: white;
    position: absolute;
  
    
    
}

.formulario h1 {
    text-align: center;
    font-size: 2.2rem;
}

.formulario .form-group {
    margin-bottom: 15px;
}

.formulario .form-group label {
    display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: #CCAA60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}


.formulario button:hover {
    background: white;
    color: black;
}





/*RODAPÉ*/

footer {
    background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
    padding: 20px 0;
    text-align: center;
}


.logo img {
    display: flex;
    width: 20rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin: auto;
}


.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    display: inline;
    margin: 0 10px;
}

.links a {
    text-decoration: none;
    color: #ffffff;
}

.links li a:hover {
    text-decoration: none;
    color: #CCAA60;
}

.social img {
    width: 10px;
    /* Ajuste o tamanho conforme necessário */
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: end;
}

.social img:hover {
    opacity: 0.7;
}

/* Estilos para o texto de copyright */
.copyright {
    margin-top: 20px;
}

.copyright p {
    font-size: 14px;
    color: #666;
    display: inline;
    /* Faz com que o texto e a imagem fiquem na mesma linha */
}

.copyright img {
    width: 20px;
    /* Ajuste o tamanho conforme necessário */
    vertical-align: middle;
    /* Alinha verticalmente com o texto */
    margin-left: 5px;
    /* Adiciona um pequeno espaço entre o texto e a imagem */
}

.address p {
    margin-top: 2rem;
    color: white;

}

/* TELA MAIOR (aproximadamente 1360px) */

@media (min-width:85.05em) {

    /* define a classe .page como um contêiner flexível com direção de coluna */
    .page {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
    }


    body {
        background-color: #1B3148;
        margin: 0 auto;
    }


    /*página home*/
    #home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

    }

    /*Imagem logo AS do cabeçalho*/
    header img {

        margin: auto;
        justify-items: center;
        align-items: center;
        width: 20rem;


    }

    /*cabeçalho da página - logo de alexandre dentro dele*/
    header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: -3rem;
        width: 100%;
        height: 15rem;
        margin: auto;
        margin-bottom: -2rem;


    }


    /*acoplado as duas imagens do logo Alexandre - AS e nome por extenso*/
    .logo-header {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 10rem;

    }

    /*cabeçalho do home - (menu bar, linhas */
    .home-header {
        margin-top: 3rem;
        background-image: url(assets/banner.png);
        background-repeat: initial;
        background-position: center center;
        width: 100%;
    }

    /*Menu : Home | area de atuacao | sobre | contato */
    .menu {
        margin-right: 10rem;
    }

    /*acoplado do MENU e dos botoes: contato e email */
    .menuBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    /*estilização da lista do menu bar*/
    .menuBar ul {

        list-style: none;
        padding: 0;

    }

    /*estilização de cada item da lista do menu bar*/
    .menuBar li {
        display: inline;
        margin: 0 10px;


    }

    /*ancora para entrar nas sections*/
    .menuBar li a {
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
    }

    /*ação ao passar o mouse por cima do MenuBar*/
    .menuBar li a:hover {
        color: #ccaa60;
    }


    /*linha divisória em cima e embaixo no menuBar*/
    .linha {
        margin: auto;

        border: .1px solid #4E555F;
        width: 80rem;
    }

    /*botoes para contato e email*/
    .button-header {
        display: flex;
        margin-left: 3rem;
        justify-content: center;
        align-items: center;
        height: 5rem;


    }

    /*botao de contato*/
    .contact-button {
        margin-right: 3rem;
    }

    /*imagem botão de contato*/
    .contact-button img {
        display: flex;
        max-width: 10rem;
    }

    /*imagem botao de email*/
    .email-button img {
        display: flex;
        width: 19rem;
    }


    /*titulo principal da pagina home*/
    header h1 {

        margin-right: 5rem;
        justify-content: center;
        text-align: center;
        font-size: 3.5rem;
        color: white;
        font-family: var(--ff1);
    }


    /*container com titulos e subtitulos principais do home e botão wpp*/

    .banner {
        display: flex;
        flex-direction: row;
        margin: 10px auto;
        height: 40rem;
        width: 80rem;
        align-items: center;
        text-align: center;


    }

    /*titulo principal do banner*/
    .banner .banner-texto h1 {
        width: 45rem;

        font-size: 46px;
        color: #ffffff;
        font-family: var(--ff1);
        font-weight: bold;
        text-align: justify;
        margin-left: 2rem;


    }

    /*Subtitulo banner */

    .banner .banner-texto h5 {
        display: flex;
        width: 27rem;
        margin:2rem 0 0 2rem;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        font-family: var(--ff1);
        background-color: #1B3148;
        border-radius: 10px;

    }

    .banner .banner-texto h5 span{
        font-weight: bold;
        font-size: 35px;
        
        

    }
    
    .banner .banner-texto h1 span{
        font-weight: bold;
        font-size: 53px;
        color: #ccaa60;
    }

    /*foto de alexandre no home*/
    .banner img :nth-child(1) {
        display: flex;
        margin-left: -3rem;
        width: 20rem;

    }

    /*container da foto de alexandre no home*/
    .banner img:nth-child(2) {
        display: flex;
        width: auto;
        height: 40.6rem;
        align-items: end;
        margin-left: 23rem;
        margin: auto;
    }

    /*botao do whatsapp*/
    #button-whatsapp {
        display: flex;
        margin-top: 50rem;
        width: 20rem;
        height: 4rem;
        background-color: #D1B06B;
        border-radius: 40px;
        cursor: pointer;
        margin-left: 22rem;
    }

    #button-whatsapp img {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

    }

    #button-whatsapp a {
        text-align: center;
        text-decoration: none;
        margin: auto;
        font-family: var(--ff);
        font-size: 18px;
        color: black;
        width: 11rem;
        margin-left: -1rem;

    }

    #button-whatsapp:hover {
        background-color: #e0c791;
        color: white;
    }


    /*botão para site de consulta processual*/
    #consultaProcessual {
        height: 12rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgba(209, 176, 107, 1) 2%, rgba(30, 42, 58, 1)70%);
    }

    #consultaProcessual h1 {
        color: white;
        font-family: var(--ff1);
        font-size: 18px;
        margin-bottom: 1.2rem;

    }

    /*botoes para consulta e-SAJ e Consulta Publica*/
    .botaoConsulta {

        width: 14rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 5px;
        color: white;
        background: #1F2732;
        cursor: pointer;
    }
    
#consultaProcessual .btcons1{
    display: flex;
    margin: 0 auto;

}
#consultaProcessual .btcons2{
    display: flex;
  margin: 0 auto;

}

#consultaProcessual .botoesConsulta{
    display: flex;
    flex-direction: row;
}

    .botaoConsulta:hover {
        background: #D1B06B;
    }

    #areas {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    width: 100%;
        height: 100%;
        background: rgb(30, 42, 58);

    }


    .caixa {
        display: flex;
        flex-direction: column;

        width: 380px;
        height: 300px;
        padding: 58px, 49px, 58px, 50px;
        margin-bottom: 40px;

        margin-top: 10px;
        border-radius: 10px;
        background-color: #2E3947;
        align-items: center;
    }

    .caixa:hover {
        transform: scale(1.1);
    }

    .caixa h1 {
        color: white;

        font-family: var(--ff);
        font-weight: regular;
    }


    .caixa h5 {
        color: white;
        margin-top: 10px;
        padding: 20px;
        font-family: var(--ff);
        font-weight: regular;
        font-size: 14px;
        text-align: justify;

    }


    .contents {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        /* Duas colunas com tamanhos iguais */
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }


    .titulo-atuacao {
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        margin: auto;
        margin-bottom: 70px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 10rem;
        gap: -30px;
    }

    .titulo-atuacao1 img {
        display: flex;
        width: 70px;
        height: 50px;
        margin-top: 1rem;
        margin-left: .2rem
    }

    .titulo-atuacao1 {
        margin-right: 200px;
    }

    .divisor-atuacao img {
        display: flex;
    }

    .titulo-atuacao1 h1 {
        font-family: var(--ff1);
        font-size: 45px;
        font-weight: 700;
        line-height: 52px;
        margin: auto;
        width: 400px;
        color: white;
    }

    .titulo-atuacao2 h2 {
        margin-left: 180px;
        font-family: var(--ff);
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        text-align: justify;
        width: 38rem;

    }

    .titulo-atuacao2 h2 span {
        color: #D1B06B;
    }

    .divisor-atuacao {
        display: flex;
        margin-left: -11rem;
        margin-right: rem;
        align-items: center;
    }


    .titulo-caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .titulo-caixa img {
        display: flex;
        margin-left: 10px;

        height: 30px;
        width: 30px;
        margin-top: 20px;

    }

    .linha1 {
        margin-top: 10px;
        border: .1px solid #4E555F;
        width: 100%;
    }

    #sobre {
        display: flex;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
    }

    /*imagens do carossel - página #sobre*/

    /*carrossel imagem página #sobre*/


    /*container da pagina #sobre*/
    .pagesobre {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 80rem;
        height: 60rem;
        margin-top: -12rem;
    }

    /*primeira parte da página sobre : imagens do carrossel */
    .sobre-parte1 {
        display: flex;
        justify-content: center;

    }

    /*parte dois da pagina #sobre, titulo, subtitulo, rodapé */
    .sobre-parte2 {
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        margin: auto;

    }

    /*titulo da página sobre "nosso escritorio" */
    .sobre-parte2 h1 {
        font-family: var(--ff1);
        color: #ffffff;
        padding-top: -2rem;
        margin-top: 12rem;
        font-size: 40px;
    }

    /*texto página #sobre*/

    .sobre-parte2 h5 {
        width: 40rem;
        margin: auto;
        font-family: var(--ff1);
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5rem;
        text-align: justify;
        font-weight: 200;

    }

    /*container - imagem do rodapé*/
    .sobre-parte2 img {
        width: 3.5rem;
        margin-bottom: 2rem;
    }

    /*container da imagem de alexandre #sobre*/
    #alexandre-circulo {
        display: flex;
        margin: auto;
    }

    #alexandre-circulo h3 {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        font-family: var(--ff1);
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        width: 10rem;

    }

    /*alexandre foto em circulo na página #sobre*/
    #alexandre-circulo img {
        display: flex;
        width: 4rem;
        justify-content: center;
        align-items: center;

    }

    /*anos de experiencia img - pagina #sobre*/
    #anos-exp img {
        display: flex;
        width: 13rem;
        justify-content: center;
        align-items: center
    }

    /*rodapé da página #sobre*/
    .rodape-sobre {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-top: 1rem;
        gap: 2rem;
    }


    #contato {
        display: flex;
        justify-content: center;
        /* Centraliza horizontalmente */
        align-items: center;
        /* Centraliza verticalmente */
        background-image: url('assets/escritorio.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* Ajusta o tamanho da imagem para cobrir toda a área */
        height: 100vh;
        width: 100%;
    }




    /* Formulário */
    .formulario {
        background-color: rgba(31, 39, 50, 0.8);
        /* rgba para dar um efeito de transparência */
        width: 100%;
        padding: 20px;
        /* Adiciona um espaço interno ao formulário */
        max-width: 500px;
        /* Largura máxima do formulário */
        color: white;
        margin-top: 0rem;
        margin-left: 40rem;
    }

    .formulario h1 {
        text-align: center;
        font-size: 2.2rem;
    }

    .formulario .form-group {
        margin-bottom: 15px;
    }

    .formulario .form-group label {
        display: block;
    }

    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .formulario button {
        width: 100%;
        padding: 10px;
        background-color: #CCAA60;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;


    }


    .formulario button:hover {
        background: white;
        color: black;
    }


    footer {
        background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
        padding: 20px 0;
        text-align: center;
        height: 100%;
    }

    .logo img {
        display: flex;
        width: 20rem;
        margin-top: 1rem;
        padding-bottom: 2rem;
        margin: auto;
    }


    .links ul {
        list-style: none;
        padding: 0;
    }

    .links li {
        display: inline;
        margin: 0 10px;
    }

    .links a {
        text-decoration: none;
        color: #ffffff;
    }

    .social img {
        width: 10px;
        /* Ajuste o tamanho conforme necessário */
        margin-top: 10px;
        color: white;
        display: flex;
        align-items: end;
    }

    .social img:hover {
        opacity: 0.7;
    }

    /* Estilos para o texto de copyright */
    .copyright {
        margin-top: 20px;
    }

    .copyright p {
        font-size: 14px;
        color: #666;
        display: inline;
        /* Faz com que o texto e a imagem fiquem na mesma linha */
    }

    .copyright img {
        width: 20px;
        /* Ajuste o tamanho conforme necessário */
        vertical-align: middle;
        /* Alinha verticalmente com o texto */
        margin-left: 5px;
        /* Adiciona um pequeno espaço entre o texto e a imagem */
    }

    .address p {
        margin-top: 2rem;
        color: white;

    }


}


/* TELA SEGUNDA MENOR - Faixa de tela aproximada entre 480px e 959.84px */

@media (min-width: 30em) and (max-width:59.99em) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Define o tamanho de fonte base para rem, utilizando 62.5% da escala (10px) */
    :root {
        font-size: 62, 5%;
    }

    /*GERAL - PRIMEIRA PÁGINA*/

    /* define a classe .page como um contêiner flexível com direção de coluna */
    .page {
        display: flex;
        flex-direction: column;
        min-width: 100vh;
        min-height: 100vh;
    }


    body {
        background-color: #1B3148;
    }


    /*página home*/
    #home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        height: 120%;

    }


    /*cabeçalho da página - logo de alexandre dentro dele*/
    header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        width: 80%;
        margin: auto;
        margin-top: 1rem;

    }

    /*acoplado as duas imagens do logo Alexandre - AS e nome por extenso*/

    .logo-header {
        margin: auto;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
    }


    /*Imagem logo AS do cabeçalho*/
    header img {
        display: flex;
        margin: auto;
        justify-items: center;
        align-items: center;
        width: 15rem;



    }

    /*cabeçalho do home - (menu bar, linhas */
    .home-header {
        margin-top: 3rem;
        background-image: url(assets/banner.png);
        background-repeat: initial;
        background-position: center center;
        width: 100%;
    }


    /*linha divisória em cima e embaixo no menuBar*/
    .linha {
        margin: auto;
        align-items: center;
        border: .1px solid #4E555F;
        width: 100%;
    }

    .menuBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin: auto;
        width: 90%;
    }

    .menu {
        display: flex;
        margin-top: .5rem;
    }

    .menuBar ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .menuBar li {
        margin: 0 10px;
    }

    .menuBar li a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
    }



    /*botoes para contato e email*/
    .button-header {
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
        height: 5rem;
    }

    /*botao de contato*/
    .contact-button {
        margin-right: 1rem;
    }

    /*imagem botão de contato*/
    .contact-button img {
        display: flex;
        max-width: 9rem;
    }

    /*imagem botao de email*/
    .email-button img {
        display: flex;
        width: 15rem;
    }

    .banner {
        display: flex;
        flex-direction: row;
        margin: 10px auto;
        height: 40rem;
        width: 100%;
        align-items: center;
        text-align: center;

    }



    .banner .banner-texto {
        display: flex;
        flex-direction: column;
        margin-top: -8rem;
        margin-left: 3rem;

    }

    /*titulo principal do banner*/
    .banner .banner-texto h1 {

        margin-left: -2rem;
        width: 24rem;
        align-items: center;
        font-size: 23.8px;
        color: #ffffff;
        font-family: var(--ff1);
        text-align: start;
    }

    .banner .banner-texto h5 {
        margin-top: 2rem;
        width: 20rem;
        font-size: 18px;
        color: #ffffff;
        font-family: var(--ff1);
        text-align: start;
        margin-left: -2rem;
        margin-bottom: 2rem;
        background-color: #1B3148;

    }


    
    .banner .banner-texto h5 span{
        font-weight: bold;
        font-size: 23px;
        
        

    }
    
    .banner .banner-texto h1 span{
        font-weight: bold;
        font-size: 30px;
        color: #ccaa60;
    }

    #button-whatsapp {
        display: flex;
        margin: 40rem auto;
margin-left: 1rem;
        height: 5rem;
        width: 13.5em;
        background-color: #D1B06B;
        border-radius: 10%;
        cursor: pointer;


    }

    #button-whatsapp img {
        display: flex;
        width: 2rem;
        justify-content: center;
        margin: auto;



    }

    #button-whatsapp a {
        width: 5rem;
        text-align: center;
        text-decoration: none;
        align-items: center;
        margin: auto;
        font-family: var(--ff);
        font-size: 15px;
        color: black;
        margin-left: -1.5rem;

    }

    #button-whatsapp:hover {
        background-color: #e0c791;
        color: white;
    }


    .banner img:nth-child(2) {
        display: flex;
        height: 70%;
        width: auto;
        margin-left: -7rem;
        margin-top: 12.7rem;


    }


    .banner img:nth-child(1) {

        display: flex;
        width: 5rem;
        margin-left: -2rem;
        margin-top: -10rem;
        margin-bottom: 1rem;
    }



    /*SEGUNDA PÁGINA*/

    #consultaProcessual {
        height: 12rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgba(209, 176, 107, 1) 2%, rgba(30, 42, 58, 1)70%);
    }

    
#consultaProcessual .botoesConsulta{
    display: flex;
    justify-content: center;
    max-width: 10rem;
}

    #consultaProcessual h1 {
        color: white;
        font-family: var(--ff1);
        font-size: 15px;
        margin-bottom: 1.2rem;
        text-align: center;
    }


    /*botoes para consulta e-SAJ e Consulta Publica*/
    .botaoConsulta {

        width: 7rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 5px;
        color: white;
        background: #1F2732;
        cursor: pointer;
    }

    .botaoConsulta:hover {
        background: #D1B06B;
    }

    /*terceira página*/

    #areas {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        min-width: 100%;
        height: 100%;
        background: rgb(30, 42, 58);
    }

    .areas-atuação {
        display: flex;
        flex-direction: column;
    }

    .divisor-atuacao img {
        display: none;
    }

    .caixa {
        display: flex;
        flex-direction: column;

        width: 350px;
        height: 350px;
        padding: 58px, 49px, 58px, 50px;
        margin-bottom: 40px;

        margin-top: 10px;
        border-radius: 10px;
        background-color: #2E3947;
        align-items: center;
    }

    .caixa:hover {
        transform: scale(1.1);
    }

    .caixa h1 {
        color: white;
        font-family: var(--ff);
        font-weight: regular;
    }


    .caixa h5 {
        color: white;
        margin-top: 10px;
        padding: 20px;
        font-family: var(--ff);
        font-weight: regular;
        font-size: 14px;
        text-align: justify;

    }


    .contents {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        /* Duas colunas com tamanhos iguais */
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }


    .titulo-atuacao {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        margin: auto;
        margin-bottom: 70px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 8rem;
        gap: -30px;


    }



    .titulo-atuacao1 img {
        display: flex;
        width: 3rem;
        height: 50px;
        margin-left: 27rem;
        margin-bottom: .5rem;

    }

    .titulo-atuacao1 {

        margin-right: 20rem;
    }

    .titulo-atuacao1 h1 {
        display: flex;
        font-family: var(--ff1);
        font-size: 35px;
        font-weight: 700;
        line-height: 52px;
        margin: auto;
        margin-left: 27rem;
        width: 400px;
        align-items: center;
        color: white;



    }

    .titulo-atuacao2 h2 {
        margin-top: 1rem;
        font-family: var(--ff);
        font-size: 13px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        text-align: justify;
        width: 20rem;

    }

    .titulo-atuacao2 h2 span {
        color: #D1B06B;
    }

    .titulo-caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .titulo-caixa img {
        display: flex;
        margin-left: 10px;

        height: 30px;
        width: 30px;
        margin-top: 20px;

    }

    .contents {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }


    /*QUARTA PÁGINA*/


    #sobre {
        display: flex;
        margin: auto;
        align-items: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
    }

    /*imagens do carossel - página #sobre*/
    .slides img {
        margin: auto;
        display: flex;
        border-radius: 1rem;
        width: 100%;
        align-items: center;
        height: 50%;


    }

    /*carrossel imagem página #sobre*/
    .slides {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 1rem;
        width: 80%;
        margin-bottom: 3rem;

    }

    /*container da pagina #sobre*/
    .pagesobre {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        align-items: center;

        width: 100%;
    }



    /*primeira parte da página sobre : imagens do carrossel */
    .sobre-parte1 {
        display: flex;
        width: 100%;
        align-items: center;

    }

    /*parte dois da pagina #sobre, titulo, subtitulo, rodapé */
    .sobre-parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -1rem;
        width: 100%;



    }

    /*titulo da página sobre "nosso escritorio" */
    .sobre-parte2 h1 {
        display: flex;
        font-family: var(--ff1);
        color: #ffffff;
        padding-top: -2rem;
        margin-top: 2rem;
        font-size: 40px;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    /*texto página #sobre*/

    .sobre-parte2 h5 {
        display: flex;
        font-family: var(--ff1);
        color: #ffffff;
        max-width: 26rem;
        margin-top: 1rem;
        font-size: 20px;
        align-items: center;
        text-align: justify;


    }

    /*container - imagem do rodapé*/
    .sobre-parte2 img {
        display: flex;
        width: 4rem;
        margin-left: -15rem;
    }

    /*container da imagem de alexandre #sobre*/
    #alexandre-circulo {
        display: flex;
        margin: auto;
    }

    #alexandre-circulo h3 {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        font-family: var(--ff1);
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        width: 10rem;

    }

    /*alexandre foto em circulo na página #sobre*/
    #alexandre-circulo img {
        display: flex;
        width: 4rem;
        margin: auto;
        justify-content: center;
        align-items: center;

    }

    /*anos de experiencia img - pagina #sobre*/
    #anos-exp img {
        display: flex;
        width: 6rem;
        margin: auto;
        justify-content: center;
        align-items: center
    }

    /*rodapé da página #sobre*/
    .rodape-sobre {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 80%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin-top: 1rem;

    }



    /*QUINTA PÁGINA*/

    #contato {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('assets/escritorio.png');
        background-repeat: no-repeat;
        background-position: 35%;
        background-size: cover;
        height: 100vw;
        width: 100%;
        position: relative; /* Adiciona position relative */
    }
    
    .formulario {
        background-color: rgba(31, 39, 50, 0.8);
        padding: 20px;
        color: white;
        max-width: 600px; /* Defina a largura máxima desejada */
        width: 100%; /* Para ocupar todo o espaço disponível */
        position: absolute; /* Torna o formulário posicionado absolutamente */
        bottom: 0; /* Fixa o formulário na parte inferior */
        left: 50%; /* Centraliza o formulário horizontalmente */
        transform: translateX(-50%); /* Centraliza o formulário horizontalmente */
    }
    
    .formulario h1 {
        text-align: center;
        font-size: 2.2rem;
    }
    
    .formulario .form-group {
        margin-bottom: 15px;
    }
    
    .formulario .form-group label {
        display: block;
    }
    
    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .formulario button {
        width: 100%;
        padding: 10px;
        background-color: #CCAA60;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .formulario button:hover {
        background: white;
        color: black;
    }
    

    /*RODAPÉ*/

    footer {
        background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
        padding: 20px 0;
        text-align: center;
    }


    .logo img {
        display: flex;
        width: 20rem;
        margin-top: 1rem;
        padding-bottom: 2rem;
        margin: auto;
    }

}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    display: inline;
    margin: 0 10px;
}

.links a {
    text-decoration: none;
    color: #ffffff;
}

.links li a:hover {
    text-decoration: none;
    color: #CCAA60;
}

.social img {
    width: 10px;
    /* Ajuste o tamanho conforme necessário */
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: end;
}

.social img:hover {
    opacity: 0.7;
}

/* Estilos para o texto de copyright */
.copyright {
    margin-top: 20px;
}

.copyright p {
    font-size: 14px;
    color: #666;
    display: inline;
    /* Faz com que o texto e a imagem fiquem na mesma linha */
}

.copyright img {
    width: 20px;
    /* Ajuste o tamanho conforme necessário */
    vertical-align: middle;
    /* Alinha verticalmente com o texto */
    margin-left: 5px;
    /* Adiciona um pequeno espaço entre o texto e a imagem */
}

.address p {
    margin-top: 2rem;
    color: white;

}



/* TELA MEDIA - aproximada entre 960px e 1361px */
@media (min-width: 60em) and (max-width:85.049em) {

    /* Define estilos de reset para garantir consistência entre os navegadores */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Define o tamanho de fonte base para rem, utilizando 62.5% da escala (10px) */
    :root {
        font-size: 62, 5%;
    }

    /* define a classe .page como um contêiner flexível com direção de coluna */
    .page {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
    }


    body {
        background-color: #1B3148;
        margin: 0 auto;
    }


    #home {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

    }

    /*Imagem logo AS do cabeçalho*/
    header img {
        display: flex;
        margin: auto;
        width: 15rem;


    }

    /*cabeçalho da página - logo de alexandre dentro dele*/
    header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: -3rem;
        width: 80%;
        height: 10rem;
        margin: auto;
        margin-bottom: -2rem;


    }


    /*acoplado as duas imagens do logo Alexandre - AS e nome por extenso*/
    .logo-header {
        display: flex;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-area: auto;
        margin: auto;


    }

    /*cabeçalho do home - (menu bar, linhas */
    .home-header {
        margin-top: 3rem;
        background-image: url(assets/banner.png);
        background-repeat: initial;
        background-position: center center;
        width: 100%;
    }

    /*Menu : Home | area de atuacao | sobre | contato */
    .menu {
        width: 90%;
        display: flex;
        align-items: center;
    }

    /*acoplado do MENU e dos botoes: contato e email */
    .menuBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    /*estilização da lista do menu bar*/
    .menuBar ul {
        display: flex;
        margin: auto;
        font-size: 20px;
        margin-bottom: 1rem;
        list-style: none;
        padding: 0;

    }

    /*estilização de cada item da lista do menu bar*/
    .menuBar li {
        display: inline;
        margin: 0 10px;


    }

    /*ancora para entrar nas sections*/
    .menuBar li a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
    }

    /*ação ao passar o mouse por cima do MenuBar*/
    .menuBar li a:hover {
        color: #ccaa60;
    }


    /*linha divisória em cima e embaixo no menuBar*/
    .linha {
        margin: auto;
        border: .1px solid #4E555F;
        width: 100%;
    }

    /*botoes para contato e email*/
    .button-header {
        display: flex;
        margin-left: 3rem;
        justify-content: center;
        align-items: center;
        height: 5rem;


    }

    /*botao de contato*/
    .contact-button {
        margin-right: 3rem;
    }

    /*imagem botão de contato*/
    .contact-button img {
        display: flex;
        max-width: 10rem;
    }

    /*imagem botao de email*/
    .email-button img {
        display: flex;
        width: 19rem;
    }


    /*titulo principal da pagina home*/
    header h1 {

        margin-right: 5rem;
        justify-content: center;
        text-align: center;
        font-size: 3.5rem;
        color: white;
        font-family: var(--ff1);
    }


    /*container com titulos e subtitulos principais do home e botão wpp*/

    .banner {
        display: flex;
        margin: auto;
        height: 40rem;
        width: 100%;
        text-align: center;

    }

    .banner img:nth-child(1) {

        display: flex;
        margin-top: 1rem;
        margin-bottom: -10rem;
    }


    /*titulo principal do banner*/
    .banner .banner-texto h1 {
      
        width: 33rem;
        font-size: 35px;
        color: #ffffff;
        font-family: var(--ff1);
        font-weight: bold;
        text-align: justify;
        margin-top: 10rem;


    }

    /*Subtitulo banner */

    .banner .banner-texto h5 {
        display: flex;
        width: 23rem;
        margin-top: 2rem;
        color: #ffffff;
        font-size: 25px;
        font-weight: 400;
        font-family: var(--ff1);
        background-color: #1B3148;
    }


    
    .banner .banner-texto h5 span{
        font-weight: bold;
        font-size: 29px;
        
        

    }
    
    .banner .banner-texto h1 span{
        font-weight: bold;
        font-size: 40px;
        color: #ccaa60;
    }
    /*foto de alexandre no home*/




    .banner img:nth-child(2) {
        display: flex;
        width: auto;
        height: 40rem;
        align-items: flex-end;
        margin-left: 5rem;
        margin: auto;
    }

    /*botao do whatsapp*/
    

    


    #button-whatsapp {
        display: flex;
        flex-direction: row;
        margin-top: 50rem;
     margin-left: -1rem;
        height: 5rem;
        width: 20em;
        background-color: #D1B06B;
        cursor: pointer;


    }

    #button-whatsapp img {
        display: flex;
        flex-direction: row;
        width: 2rem;
        justify-content: center;

    }

    #button-whatsapp a {
        width: 10em;
        text-align: center;
        text-decoration: none;
        align-items: center;
        margin: auto;
        font-family: var(--ff);
        font-size: 15px;
        color: black;
        margin-left: -1.5rem;

    }

    #button-whatsapp:hover {
        background-color: #e0c791;
        color: white;
    }

    #areas {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: rgb(30, 42, 58);


    }

    
#consultaProcessual .botoesConsulta{
    display: flex;
 flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 10rem;
    margin: 0 auto;
    
}


#consultaProcessual .btcons1{
    display: flex;
    margin: 0 auto; 
   

}
#consultaProcessual .btcons2{
    display: flex;
    margin: 0 auto;   
}

.botaoConsulta {

    min-width: 12rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 5px;
    color: white;
    background: #1F2732;
    cursor: pointer;
}

    


    .caixa {
        display: flex;
        flex-direction: column;
        max-width: 30%;
        height: 27rem;
        padding: 38px, 29px, 38px, 20px;
        margin-bottom: 40px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #2E3947;
        align-items: center;
    }

    .caixa:hover {
        transform: scale(1.1);
    }

    .caixa h1 {
        color: white;
        font-size: 20px;
        font-family: var(--ff);
        font-weight: regular;
    }


    .caixa h5 {
        color: white;
        margin-top: 10px;
        padding: 16px;
        font-family: var(--ff);
        font-weight: regular;
        font-size: 14px;
        text-align: justify;

    }


    .contents {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }


    .titulo-atuacao {
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        margin: auto;
        margin-bottom: 70px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 80%;
        gap: -30px;

    }


    .titulo-atuacao1 img {
        display: flex;
        width: 70px;
        height: 50px;
        margin-top: .2rem;
        margin-left: -2rem;

    }

    .titulo-atuacao1 {
        margin-right: 200px;
    }

    .titulo-atuacao1 h1 {
        font-family: var(--ff1);
        font-size: 38px;
        font-weight: 700;
        line-height: 52px;
        margin: auto;
        margin-left: rem;
        width: 20rem;
        margin-left: -2rem;
        color: white;
    }

    .titulo-atuacao2 h2 {

        padding-left: -20rem;
        margin-left: 5rem;
        font-family: var(--ff);
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        text-align: justify;
        width: 20rem;
        height: auto;

    }

    .titulo-atuacao2 h2 span {
        color: #D1B06B;
    }

    .divisor-atuacao {
        display: flex;
        margin-left: -11rem;
        margin-right: rem;
        align-items: center;
    }

    .titulo-caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .titulo-caixa img {
        display: flex;
        margin-left: 10px;

        height: 30px;
        width: 30px;
        margin-top: 20px;

    }

    .linha1 {
        margin-top: 10px;
        border: .1px solid #4E555F;
        width: 70%;
    }


    #sobre {
        display: flex;
        margin: auto;
        align-items: center;
        width: 100%;
        height: 120%;
        background: linear-gradient(to top, rgb(30, 42, 58)20%, rgb(36, 66, 98)80%);
    }

    /*imagens do carossel - página #sobre*/
    .slides img {
        margin: auto;
        display: flex;
        border-radius: 1rem;
        width: 80%;
        align-items: center;
        height: auto;


    }

    /*carrossel imagem página #sobre*/
    .slides {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 1rem;
        width: 60%;
        margin-bottom: 1rem;

    }

    /*container da pagina #sobre*/
    .pagesobre {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        align-items: center;

        width: 100%;
    }



    /*primeira parte da página sobre : imagens do carrossel */
    .sobre-parte1 {
        display: flex;
        width: 100%;
        align-items: center;

    }

    /*parte dois da pagina #sobre, titulo, subtitulo, rodapé */
    .sobre-parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 100%;

    }

    /*titulo da página sobre "nosso escritorio" */
    .sobre-parte2 h1 {
        display: flex;
        font-family: var(--ff1);
        color: #ffffff;
        padding-top: -2rem;
        margin-top: 1rem;
        font-size: 35px;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    /*texto página #sobre*/

    .sobre-parte2 h5 {
        display: flex;
        font-family: var(--ff1);
        width: 27rem;
        color: #ffffff;
        width: auto;
        padding-top: -2rem;
        font-size: 25px;
        align-items: center;
        text-align: justify;

    }

    /*container - imagem do rodapé*/
    .sobre-parte2 img {
        display: flex;
        width: 3rem;
        margin-left: -15rem;
    }

    /*container da imagem de alexandre #sobre*/
    #alexandre-circulo {
        display: flex;
        margin: auto;
    }

    #alexandre-circulo h3 {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        font-family: var(--ff1);
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        width: 10rem;

    }

    /*alexandre foto em circulo na página #sobre*/
    #alexandre-circulo img {
        display: flex;
        width: 3rem;
        margin: auto;
        justify-content: center;
        align-items: center;


    }

    /*anos de experiencia img - pagina #sobre*/
    #anos-exp img {
        display: flex;
        width: 5rem;
        margin: auto;
        justify-content: center;
        align-items: center
    }

    /*rodapé da página #sobre*/
    .rodape-sobre {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 80%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin-top: 1rem;

    }


}